ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(78, 78, 92);
  }
  
  li {
    float: left;
  }
  
  li h2{
    display: block;
    color:rgb(255, 255, 255);
    text-align: center;
  }

  .active h2 {
    
    color: white;
  }
  .logout:hover{
    cursor: pointer;
  }