<ul>
  <li><h2 class="underlineHover"  routerLink="/userprofile"  routerLinkActive="active">Home</h2></li>
  <li><h2 class="underlineHover"  routerLink="/memories"  routerLinkActive="active">Activity</h2></li>
  <li><h2 class="underlineHover"  routerLink="/contact"  routerLinkActive="active">Contact</h2></li>
  <li><h2 class="underlineHover"  routerLink="/about"  routerLinkActive="active">About</h2></li>
  <li style="float: right;"> <h2 class="logout underlineHover" (click)="onLogout()" >LOGOUT</h2></li>
  <li style="float: right;"><h2 class="underlineHover">{{userName}}</h2></li>
  
</ul>
